<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentNewPostModal()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="loadingPosts">
        <ion-spinner name="dots"></ion-spinner>
    </div>

    <button ion-button (click)="updateFeed()">Update</button>

    <ion-list>
        <ion-item *ngFor="let post of getPosts()" class="post">
            <p>{{post.content}}</p>
        </ion-item>
    </ion-list>
</ion-content>
